AccountWcfV2Client/Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccountWcfV2" />
      <xsd:import schemaLocation="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseLayer.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CreateAccount_AccountServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/AccountWcfV2" name="detail" element="q1:AccountServiceFault" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AuthAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AuthAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AuthAccount_AccountServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/AccountWcfV2" name="detail" element="q2:AccountServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/CreateAccount" message="tns:IAccountService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/CreateAccountResponse" message="tns:IAccountService_CreateAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/CreateAccountAccountServiceFaultFault" name="AccountServiceFaultFault" message="tns:IAccountService_CreateAccount_AccountServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AuthAccount" message="tns:IAccountService_AuthAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AuthAccountResponse" message="tns:IAccountService_AuthAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAccountService/AuthAccountAccountServiceFaultFault" name="AccountServiceFaultFault" message="tns:IAccountService_AuthAccount_AccountServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccountServiceFaultFault">
        <soap:fault use="literal" name="AccountServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AuthAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AuthAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccountServiceFaultFault">
        <soap:fault use="literal" name="AccountServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>