AccountWcfV2Client/Service References/AccountService/AccountWcfV23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf.lottotry.com/AccountWcfV2/AccountWcfV2.AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DatabaseLayer.Models" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DatabaseLayer.Models" minOccurs="0" name="info" nillable="true" type="q1:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DatabaseLayer.Models" minOccurs="0" name="info" nillable="true" type="q2:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthAccountResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DatabaseLayer.Models" minOccurs="0" name="info" nillable="true" type="q3:AccountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>